
.btn{

 margin-top: 20px;
  }
table{
  margin: max-content;

}
td{
 width: max-content;
}

#times
{
  margin-bottom: 50%;height: auto;
  background-color:rgba(190, 187, 187, 0.24);
}

#dates{
  right:0;
  width: fit-content;
}

.card
{
  border: linear-gradient(to right, #4b134f, #c94b4b);  /* fallback for old browsers */

}
#leavesfooter
{
  background-color:white;
}
.hlines{
  background: linear-gradient(to right, #680d6e, #aa4f4f);


}
td,th{
 padding: 15px;
}
.card-footer
{
  height: auto;

}
#view{
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 1%;

}

